@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  background-color: #fbfbfb;
  font-family: 'EB Garamond', serif;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
}

p,
span,
div,
a {
  font-size: 16px;
  line-height: 20px;
}
